<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <ul class="list-group my-5">
      <% @companies.each do |company| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="<%= company_path(company) %>"><%= company.name %></a>
          <span class="badge badge-primary badge-pill">
            <%= link_to "Edit", edit_company_path(company), class: "text-white" %> | 
            <%= link_to "Destroy", company_path(company), data: {confirm: 'Are you sure?'}, method: :delete, class: "text-white" %>
          </span>
        </li>
      <% end %> 
    </ul>
  <% end %>
</div>

