<div class="container py-5">
  <h3>Company</h3>
  <div class="row">
    <div class="col">
      <%= link_to "< Companies", companies_path %>
    </div>
    <div class="col text-right">
      <%= link_to "Edit", edit_company_path %> |
      <%= link_to "Delete", company_path(@company), data: {confirm: 'Are you sure?'}, method: :delete %> | 
      <input type="color" id="color-board" value="#2af9cf"/>
      (speed = <input type="number" class="color-speed" min=1 max=5 value="2" style="width: 50px;">)
    </div>
  </div>
  <div class="">
    <div class="container p-5 top-container text-white">
      <h1><%= @company.name %></h1>
      <h3><mark><%= @company.city || "City" %>, <%= @company.state || "State" %></mark></h3>
      <pre><mark>☝️ This is what needs to be udpated. Examples: Atlanta, GA or Nashvile, TN</mark></pre>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col-12 col-lg-8 p-lg-5 pt-4">
      <%= @company.description %>
    </div>
    <div class="col-12 col-lg-4 pt-lg-5">
      <h4>Services</h4>
      <% @company.services.reject(&:blank?).each do |service| %>
        <p><%= service %></p>
      <% end %>
      <h4>Contact</h4>
        <div class="form-group" data-controller="clipboard">
          <p><%= @company.phone %><br>
          <input type="hidden" value="<%= @company.phone %>" data-target="clipboard.source"></input>
          <a data-action="clipboard#copy" class="clipboard-button pointer text-decoration-none text-dark"> copy</a>
          <a data-target="clipboard.notice" class="clipboard-button pointer d-none text-decoration-none text-dark" class="d-none"> copied</a> 
          </p>         
        </div>
    </div>
  </div>

  <div class="text-white bottom-container text-center py-3">
    <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
  </div>
</div>

<script type="text/javascript">
  window.document.addEventListener('turbolinks:load', function() {
    const colorBoard = document.querySelector("#color-board");
    const topContainer = document.querySelector(".top-container");
    const bottomContainer = document.querySelector(".bottom-container");
    const colorSpeedField = document.querySelector(".color-speed");
    
    if(!colorBoard) return;
    setColor();
    var interval = setInterval(colorPicker, 3000);

    colorBoard.oninput = function(){
      clearInterval(interval);
      setColor();
    }

    colorSpeedField.onchange = function(e){
      var speed = e.target.value;
      clearInterval(interval);
      interval = setInterval(colorPicker, speed*1000)
    }

    function setColor(color, duration){
      if(!color) color=colorBoard.value;
      colorBoard.value = color;
      if(!duration) duration = '1';
      topContainer.style.backgroundColor = color;
      topContainer.style.transition = `${duration}s linear`;
      bottomContainer.style.transition = `${duration}s linear`;
      bottomContainer.style.backgroundColor = color;
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    function colorPicker() {
      setColor(getRandomColor())
    }
  })
</script>
